= render template: "index/welcome_message"
= render template: "index/how_we_work"
= render template: "index/slogan"
= render template: "index/testimony"
= render template: "index/send_inquiry"
= render template: "index/our_blog"
