.bg-blue-50
  .container.slogan
    .slogan__subtitle Features
    .slogan__title Design that solves problems, one product at a time
    .slogan__cases-wrapper
      .slogan__case
        = inline_svg "icons/users.svg"
        %h2 Uses Client First
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slogan__case
        = inline_svg "icons/checked.svg"
        %h2 Two Revision Round
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slogan__case
        = inline_svg "icons/pen.svg"
        %h2 Template Customization
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slogan__case
        = inline_svg "icons/question.svg"
        %h2 24/7 Support
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slogan__case
        = inline_svg "icons/clock.svg"
        %h2 Quick Delivery
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .slogan__case
        = inline_svg "icons/clipboard.svg"
        %h2 Hands-on Approach
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
