!!!
%html
  %head
    %title ReactLab1
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

    - if Rails.env == 'development'
      = hotwire_livereload_tags

  %body
    %div
      = render partial: "static_pages/navbar"
      = yield
      = render template: "shared/footer"
